@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

html,
body {
    font-family: 'Newsreader', serif;
}

::selection {
    background-color: rgb(107, 65, 145, 0.75);
    color: var(--chalk-white);
}

@import "tailwindcss";
@plugin "daisyui";

@theme {
    --brand-purple: #6B4191;
    --accent-yellow: #E8D24D;
    --chalk-white: #F2F2F2;
    --slate-grey: #4A4A4F;
    --safety-red: #D93A30;
}

@plugin "daisyui/theme" {
    name: "ascent";
    default: true;
    prefersdark: false;
    color-scheme: light;

    --color-base-100: var(--chalk-white);
    --color-base-content: var(--slate-grey);

    --color-primary: var(--brand-purple);
    --color-primary-content: white;

    --color-accent: var(--accent-yellow);
    --color-accent-content: var(--slate-grey);

    --color-error: var(--safety-red);
    --color-error-content: white;
}
